<link rel="stylesheet" href="components/home/home.css">

<div class="main-content">
<h1>Book Of Shadows</h1>

<img class="hero-img" src="img/hail-satan.png" alt="pentagram" />
<p>Your Personal</p>
<h2>Grimoire</h2>

<section class="links">
    <a class="browse" href="#!/spells">Browse Spells</a>
    <div class="sign-in-link">
        <a class="btn login" href="#!/login">login</a>
        <a class="btn signup" href="#!/signup">signup</a>
    </div>
</section>
</div>

<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgaGVpZ2h0PSIxMDBweCIgaWQ9InN0cmF0ZWd5IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB3aWR0aD0iMTAwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik05MC4wNjQsNDkuODc3TDczLjY4NCwzMy41NmwxNi4zMy0xNi4yNjhsLTcuMDU3LTcuMDg0TDY2LjYsMjYuNTAzTDQ5Ljk5Nyw5Ljk2M2wtNy4wNTcsNy4wODRsMTYuNTc2LDE2LjUxNGwtOS41NDEsOS41MDUgIEwxNi45OTMsMTAuMjA4bC03LjA1Nyw3LjA4NGwzMi45NTUsMzIuODNMOS45MzYsODIuOTUzbDcuMDU3LDcuMDg0TDQ5Ljk3NSw1Ny4xOGw5LjI5NCw5LjI2TDQyLjk0LDgyLjcwN2w3LjA1Nyw3LjA4NCAgbDE2LjM1Ny0xNi4yOTVsMTYuNjA0LDE2LjU0MWw3LjA1Ny03LjA4NEw3My40MzgsNjYuNDM5TDkwLjA2NCw0OS44Nzd6IE01Ny4wNTksNTAuMTIzbDkuNTQxLTkuNTA1bDkuMjk1LDkuMjZsLTkuNTQxLDkuNTA1ICBMNTcuMDU5LDUwLjEyM3oiLz48L3N2Zz4=" />

<!--<div>-->
<!--<img class="icon-img" src="img/icons/air.png" />-->
<!--</div>-->

<!--<div>-->
    <!--<img class="bg-img" src="img/junipers.png" />-->
<!--</div>-->
