body {
    background: url("../../img/large-paper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Paganini;
    text-align: center;
    font-size: 3.6em;
}