<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/home">Home</a></li>
                <li><a href="#!/spells">All Spells</a></li>
                <li><a href="#!/mine">My Spells</a></li>
                <li><a href="#!/favorites">Favorite Spells</a></li>
                <li><a href="#!/create-spell">Create Spell</a></li>
                <li><a href="#!/logout/">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>