/*BASE STYLES
colors: #e4e2d5
*/

@font-face {
    font-family: Paganini;
    src: url(fonts/paganini-font/paganini/Paganini-SemiBold.ttf);
}

/*body {*/
    /*background: url("img/large-paper.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

