/*BASE STYLES
colors: #e4e2d5
another color; bdb88d;
*/

@font-face {
    font-family: Paganini;
    src: url(fonts/paganini-font/paganini/Paganini-SemiBold.ttf);
}

body {
    /*background: url("img/large-paper.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-color: #e4e2d5;
}

h1 {
    font-family: Paganini;
}

h2, h3, h4, h5 {
    color: white;
}

.btn {
    color: white;
    font-size: 1.2em;
    width: 130px;
    margin: 20px;
}



